* {
    box-sizing: border-box;
    outline: 1px solid red;
}


.sidebar-header > * {
    display: inline-block;
    vertical-align: middle;
}

/*.sidebar-header > * > * {} */
    /* style a grandchild of .sidebar-header */



.profile-pic {
    background-image: url(../images/IMG_7851.jpeg);
    background-size: cover;
    /*  background-size: cover keeps the aspect ratio, but reseizes to fit */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transform: rotate(110deg);
    /* margin-top: 10px; */    
}

.username {
    /*line-height: 53px;   */ 
}

.more-link {
    float: right;
    margin-top: 8px;
}


.actions > a {
    color: red;
}

.push-right {
    float: right;
} 

.image {
    width: 600px;
    height: 600px;
}

.comments {
    outline: 1px solid green
}

.comments > * {
    display: inline-block;
    vertical-align: top;


}

.comment-body .username {
    display: inline;
}